# output files

/build
*.swp

# ros output
src/examples/3/example_ws/build/
src/examples/3/example_ws/devel/
src/examples/3/example_ws/logs/
src/examples/3/example_ws/.catkin_workspace
src/examples/3/example_ws/.catkin_tools/
